<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">creat a new list</h1>

    <div class="field is-grouped">
      <p class="control is-expended">
        <input #listTitel class="input has-background-light is-medium" type="text" placeholder="enter title">
      </p>
      <p class="control">
        <a class="button is-primary is-medium has-text-white" (click)="createList(listTitel.value)">creat</a>
      </p>
    </div>
    <button routerLink="/" >back</button>
  </div>
</div>
